#border: thin solid #444444;
.loginContainer
{
	align:center;
	padding:20px;
	text-align:center
}
.divContainer
{
	float:left;width:33%;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
height: 28px;font-size:13px !important;}
.fontSize
{
	font-size:13px !important;
}
.tableRow
{ 
	font-size: 15px !important;
	height: 30px !important;
	color: #505450 !important;
	border : 0px thin #00000 !important; 
	/*box-shadow: 2px 3px 5px 3px #3C3013,
        inset 1px 1px 1px 1px #4C4023,
        inset 2px -2px 2px 1px #8C8083 !important;*/
    /*box-shadow: 1px 2px 3px 2px #C7C7C7,
        		inset 1px 1px 1px 1px #EBE8E9,
        		inset 2px -2px 2px 1px #F7F2F4 !important;*/
}
.sliders
{
	margin-top: 6px;
	width: 90%;
}
.sliderValue
{
	/*border: 0 !important; 
	font-weight: bold !important;
	box-shadow: 0 0 0 0 !important;
	vertical-align:middle !important;
	max-width: 35px !important;
	color: black !important; 
	float: left;
	margin-left: 50px;
	margin-top: 17px;
	border-radius: 0px 0px 0px 0px !important;
	background-color: #E3E8E4 !important;*/
	
	 border: 0 !important; 
	/*color: #f6931f !important;*/
 	font-weight: bold !important;
 	box-shadow: 0 0 0 0 !important;
 	vertical-align:middle !important;
 	max-width: 35px !important;
	background-color: #e3e8e4 !important;
	margin-top: 5px;
	float: right;
	padding-bottom: 8px !important;
	
}
.sliderValueDiv
{
	margin-left: 1%;
	width: 15%;
	height: 20%;
	float: left;
}
.sliderValueScale
{
	border: 0 !important; 
	font-weight: bold !important;
	box-shadow: 0 0 0 0 !important;
	vertical-align:middle !important;
	max-width: 35px !important;
	color: black !important; 
	float: left;
	margin-left: 50px;
	margin-top: 17px;
	border-radius: 0px 0px 0px 0px !important;
	background-color: #E3E8E4 !important;
}
.slide
{
	width: 50%;
	height: 50px !important;
}
.tableDisplay td
{
     border-top: 0px none #DDDDDD !important;
     padding-bottom: 10px;
 	 vertical-align: middle;
 	 font-size: 15px !important;
}
.tableDisplay tr
{
	border: 2px thin ;
}

.ui-slider-handle
{
	height: 1.3em !important;
}
.ui-slider-horizontal
{
	height: .9em;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 8px !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 8px !important;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 8px !important;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 8px !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
{
	background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% transparent;
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;	
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
	background-color: #D4D4D4 !important;
	background-image: none;
	border: 1px solid #4A4A4A;
}
.SliderStyle
{
	background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% transparent;
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;	
    background-color: #D4D4D4 !important;
	background-image: none;
	border: 1px solid #4A4A4A;
}
.headerGradient
{
	background: #cedce7; /* Old browsers */
	background: -moz-linear-gradient(top, #cedce7 0%, #596a72 0%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(0%,#596a72)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 0%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cedce7 0%,#596a72 0%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cedce7 0%,#596a72 0%); /* IE10+ */
	background: linear-gradient(to bottom, #cedce7 0%,#596a72 0%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
	
	
	/*background: rgb(126,185,230); /* Old browsers */
	/*background: -moz-linear-gradient(top, rgba(126,185,230,1) 0%, rgba(104,171,222,1) 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(126,185,230,1)), color-stop(100%,rgba(104,171,222,1))); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top, rgba(126,185,230,1) 0%,rgba(104,171,222,1) 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top, rgba(126,185,230,1) 0%,rgba(104,171,222,1) 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top, rgba(126,185,230,1) 0%,rgba(104,171,222,1) 100%); /* IE10+ */
	/*background: linear-gradient(to bottom, rgba(126,185,230,1) 0%,rgba(104,171,222,1) 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7eb9e6', endColorstr='#68abde',GradientType=0 ); /* IE6-9 */
	height: 40px;
}
.headerGradientUserWelcome
{
background: rgb(83,87,93); /* Old browsers */
background: -moz-linear-gradient(top, rgba(83,87,93,1) 0%, rgba(20,20,20,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(83,87,93,1)), color-stop(100%,rgba(20,20,20,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(83,87,93,1) 0%,rgba(20,20,20,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(83,87,93,1) 0%,rgba(20,20,20,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(83,87,93,1) 0%,rgba(20,20,20,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(83,87,93,1) 0%,rgba(20,20,20,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53575d', endColorstr='#141414',GradientType=0 ); /* IE6-9 */
}
.headerPosition
{
	margin-left: -10px; 
	width:100%; 
	margin-top: -20px; 
	padding-bottom: 10px;
}
.headerFont
{
	padding-top: 13px;
	width : 50%;
	padding-left: 20px;
	font-size: 25px;
	font-family: "Times New Roman",Georgia,Serif;
	font-weight: normal;
}

.ui-widget-content 
{
    background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #FFFFFFF;
    border: 0px solid #AAAAAA;
    color: #222222;
    font-weight: bold;
}
.ui-widget-header 
{
	background: -moz-linear-gradient(top, #cedce7 0%, #596a72 0%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(0%,#596a72)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 0%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cedce7 0%,#596a72 0%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cedce7 0%,#596a72 0%); /* IE10+ */
	background: linear-gradient(to bottom, #cedce7 0%,#596a72 0%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
	
}
.leftLine
{
	float: left;
	height: 750px;
	width: 5px;
	background-color: #596A72;
}
.userTile
{
	border: 2px thin #444040 !important;
	background-color: #E5E8EE;
	color:#111111;
	font-size:15px;
	padding-left: 4px;
	padding-top: 4px;
	margin: 2px	2px 3px 5px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	line-height: 23px;
	border-radius: 10px 10px 10px 10px;
	text-align: left;
}
.userList
{
	/*border: 2px solid #444040 !important;*/
	/*background-color: #B1B2B1;*/
	max-height: 500px;
	overflow: auto;	
	direction: rtl; !important;
}
.title
{
	/*border: 2px solid #444040 !important;*/
	font-size: 16px;
	padding-top: 12px;
	text-align: center;
	padding-bottom: 12px;
	
}
body
{
	padding-top:60px !important;
	padding-left:10px !important;
	background-color: rgb(227, 232, 228);
	/*background: url("images/bg.jpg") repeat scroll 0 0 transparent !important;*/
}
.UserListing
{
	background-color: rgb(100,139,158);
}
.formMaster
{
	padding-left: 20px;
}
.tableDisplayMaster td
{
     border-top: 0px none #DDDDDD !important;
     vertical-align: middle !important;
     font-size: 15px !important;
}
.TextArea
{
	height: 150px !important;
	min-width: 364px !important;
	max-width: 500px !important;
}
.textArealabel
{
	vertical-align: top !important;
}
.projList
{
	float: right;
	padding-right: 25px;
	vertical-align: top !important;
	width: 25% !important;
}
.accordion-heading {
    background-color: #dadada;
}
.accordion-group {
    border: 1px solid #000000 !important;
}
.Project
{
	border: 1px medium ;
	padding: 2px 2px 2px 2px !important;
	box-shadow: 1px 2px 3px 2px #C7C7C7,
        		inset 1px 1px 1px 1px #EBE8E9,
        		inset 2px -2px 2px 1px #F7F2F4 !important;   		
}
.UPCatalog
{
	float: right;
	padding-right: 100px;
	width: 25%;
}
.UPCatalog ul
{
	width: 80%;
}
.UPCatalog li
{
	font-weight: normal !important;
}
.ContentHolder
{
	display: inherit !important;
}
.Contentlabel
{
	vertical-align: top !important;
	font-size: 15px;
}
.dragableBlocks
{
	width: auto;
	font-size: 14px;
	
}
.listHeader
{
	font-size: 15px !important;
	font-family: cursive;	
}
.questionNum
{
	font-size: 19px;  
	border-radius: 20px 20px 0px 0px;
    width: 100%;  
    height: 26px;
    /*margin-top: 5px;
    margin-left: 1%;*/
	background: #262626; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #262626 0%, #424242 27%, #161616 41%, #0e0e0e 50%, #575757 66%, #191919 99%, #9a9a9a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#262626), color-stop(27%,#424242), color-stop(41%,#161616), color-stop(50%,#0e0e0e), color-stop(66%,#575757), color-stop(99%,#191919), color-stop(100%,#9a9a9a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #262626 0%,#424242 27%,#161616 41%,#0e0e0e 50%,#575757 66%,#191919 99%,#9a9a9a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #262626 0%,#424242 27%,#161616 41%,#0e0e0e 50%,#575757 66%,#191919 99%,#9a9a9a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #262626 0%,#424242 27%,#161616 41%,#0e0e0e 50%,#575757 66%,#191919 99%,#9a9a9a 100%); /* IE10+ */
	background: linear-gradient(135deg, #262626 0%,#424242 27%,#161616 41%,#0e0e0e 50%,#575757 66%,#191919 99%,#9a9a9a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#9a9a9a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: #7B967B;
	font-weight: lighter;
	box-shadow: 10px 10px 20px 
	black
	inset, 1px 4px 3px black;
}
.InnerQuesNum
{
	padding-left: 19px;
	padding-top: 3px;
}
.pageNumber
{
	width: 100%;
	bottom: 60px;
	vertical-align: middle;
	margin-top: 2%;
}
.pageNumber a
{
	color: #7B967B !important;
}
.questionHeader
{
    /*height: 20%;*/
    width: 100%;
    padding-top: 0.5%;
    /*border: 1px solid white !important;*/
    border-radius: 10px 10px 10px 10px;
}
.questionHeaderText
{
	font-size: 16px !important;
	font-weight: bold;
	margin-left: 10px;
	color: white;
}
.questionContent
{
	height: 60%; 
	/*border: 1px solid white !important;*/
	border-radius: 10px 10px 10px 10px;
	overflow: auto;
}
.questionContentText
{
	font-size: 16px;
	margin-left: 10px;
	margin-top: 5px;
	color: white;
}
.outterQuestion
{
	width: 84% !important;
	height: 40%;
	float: left;
	background: none repeat scroll 0 0 #7B967B;
	/*background: #649C99;*/
	padding-right: 1px;
	border-radius: 18px 18px 18px 18px;
	box-shadow: 0 3px 10px 
	black
	inset, 12px 12px 12px gray;
}
.beforeQuestion
{
	float: left;
	width: 7%;
	height: 40%;
	/*background: graytext;*/
	background: #aebcbf; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #aebcbf 0%, #0a0e0a 0%, #6e7774 100%, #0a0809 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#aebcbf), color-stop(0%,#0a0e0a), color-stop(100%,#6e7774), color-stop(100%,#0a0809)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #aebcbf 0%,#0a0e0a 0%,#6e7774 100%,#0a0809 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #aebcbf 0%,#0a0e0a 0%,#6e7774 100%,#0a0809 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #aebcbf 0%,#0a0e0a 0%,#6e7774 100%,#0a0809 100%); /* IE10+ */
	background: linear-gradient(135deg, #aebcbf 0%,#0a0e0a 0%,#6e7774 100%,#0a0809 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-radius: 20px 20px 20px 20px;
	color: #7B967B;
	box-shadow: 0 10px 20px
	black
	inset, 0 0 8px gray;
	color: white;
}
.afterQuestion
{
	float: right;
	width: 7%;
	height: 40%;
	/*background: graytext;*/
	background: #aebcbf; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #aebcbf 0%, #0a0e0a 0%, #6e7774 100%, #0a0809 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#aebcbf), color-stop(0%,#0a0e0a), color-stop(100%,#6e7774), color-stop(100%,#0a0809)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #aebcbf 0%,#0a0e0a 0%,#6e7774 100%,#0a0809 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #aebcbf 0%,#0a0e0a 0%,#6e7774 100%,#0a0809 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #aebcbf 0%,#0a0e0a 0%,#6e7774 100%,#0a0809 100%); /* IE10+ */
	background: linear-gradient(135deg, #aebcbf 0%,#0a0e0a 0%,#6e7774 100%,#0a0809 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-radius: 20px 20px 20px 20px;
	color: #7B967B;
	box-shadow: 0 10px 20px 
	black
	inset, 0 0 8px gray;
	color: white;
}
.QuestionListButton
{
	height: 40%;
	width: 7%;
	background: #aebcbf; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #aebcbf 0%, #0a0e0a 0%, #6e7774 100%, #0a0809 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#aebcbf), color-stop(0%,#0a0e0a), color-stop(100%,#6e7774), color-stop(100%,#0a0809)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #aebcbf 0%,#0a0e0a 0%,#6e7774 100%,#0a0809 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #aebcbf 0%,#0a0e0a 0%,#6e7774 100%,#0a0809 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #aebcbf 0%,#0a0e0a 0%,#6e7774 100%,#0a0809 100%); /* IE10+ */
	background: linear-gradient(135deg, #aebcbf 0%,#0a0e0a 0%,#6e7774 100%,#0a0809 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-radius: 15px 15px 15px 15px;
	color: #7B967B;
	float: left;
	box-shadow: 0 10px 20px 
	black
	inset, 0 0 8px gray;
	color: white;
}
.AppraisalDoneButton
{
	height: 40%;
	width: 7%;
	background: #aebcbf; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #aebcbf 0%, #0a0e0a 0%, #6e7774 100%, #0a0809 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#aebcbf), color-stop(0%,#0a0e0a), color-stop(100%,#6e7774), color-stop(100%,#0a0809)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #aebcbf 0%,#0a0e0a 0%,#6e7774 100%,#0a0809 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #aebcbf 0%,#0a0e0a 0%,#6e7774 100%,#0a0809 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #aebcbf 0%,#0a0e0a 0%,#6e7774 100%,#0a0809 100%); /* IE10+ */
	background: linear-gradient(135deg, #aebcbf 0%,#0a0e0a 0%,#6e7774 100%,#0a0809 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-radius: 15px 15px 15px 15px;
	color: #7B967B;
	float: right;
	box-shadow: 0 10px 20px 
	black
	inset, 0 0 8px gray;
	color: white;
}
.midDiv
{
	width: 1% !important;
	height: 40%;
	border: 2px thick;
	padding: 0px 0px 0px 0px ;
}
.subjective
{
	width: 100%;
	height: 100%;
	background: none repeat scroll 0 0 #7B967B;
	font-size: 16px;
	color: white;
	border-radius: 18px 18px 18px 18px;
}
.Scale
{
	width: 80%;
	float: left;
	height: 20%;
	margin: 1% 0% 0%  1% ;	
}
.scaleLabel
{
	margin-top: 12px;
	font-size: 15px;
	font-weight: bold;	
}
.answerExtra
{
	width: 80%;
	float: left;
	height: 30% !important;
	margin: 2% 0% 0%  1% ;
}
.MCQ
{
	width: 96%;
	height: 20%;
	font-size: 14px;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 1%;
}
.WelcomeMessage
{
	height: 3%;
	margin-top: -10px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: bold;
	margin-left: 8px;
	width: 40%;
}
.userListHead
{
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 33%, rgba(32,124,202,1) 69%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(33%,rgba(41,137,216,1)), color-stop(69%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 33%,rgba(32,124,202,1) 69%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 33%,rgba(32,124,202,1) 69%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 33%,rgba(32,124,202,1) 69%,rgba(125,185,232,1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 33%,rgba(32,124,202,1) 69%,rgba(125,185,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-radius: 5px 5px 5px 5px;
	text-shadow: silver;
	padding-left: 10px;
}
.NavsTextRight
{
	padding-left: 30%;
}
.NavsTextLeft
{
	padding-left: 20%;
}
.line
{
	height: 1px;
	background: white !important;
	width: 96%;
	border-raduius: 10px 10px 10px 10px ;
	margin-left: 10px;
}
.AnswerMessage
{
	margin-left: 8%;
	margin-top: 5px !important;
	margin-bottom: -10px;
	height: 5%;
	float: left;
	width: 100%;
}
.AnswerMessageLabel
{
	font-size: 17px !important;
	font-weight: bolder !important;
}
.Answerslider
{
	width: 100%;
	height: 16px;
	border-radius: 5px 5px 5px 5px !important;
	border: 0 none !important;
	border-radius: 30px 30px 30px 30px !important;
}
.AnswerBlock
{
	/*background: none repeat scroll 0 0 #7B967B;*/
    float: left;
    height: 40% !important;
    margin-left: 1%;
    margin-top: 0;
    width: 84%; 
    background: #7B967B;
    border-radius: 18px 18px 18px 18px;
    box-shadow: 0px 1px 10px 
	black
	inset, 12px 12px 12px gray;
}
.controlHover
{
	/*border-color: rgba(82, 168, 236, 0.8);*/
	border-color: gray;
	box-shadow: 0 0 20px 
	black
	inset, 0 0 8px black;
	outline: 0 none;
	font-size: 15px;
	color: black;
	background: #D8D9D7;
}
.userInstructions
{
	zindex : 1000;
	font-size: 16px;
	/*background-color: rgb(53,53,53);
	border-radius: 50px 50px 50px 50px ;
	border: 1px solid black	;*/
	color: white;
	position: absolute;
	top: 45px;
	right: 10px;
	margin-right: 8.5%;
	margin-top: 2px;
}
.userAlerts
{
	position: absolute;
	top: 52px;
	left: 38%;
	color: black;
	background-color: white;
	border: 2px solid black;
	border-radius: 5px 5px 5px 5px ;
	height: 23px;
	z-index: 2000;
}
.userAlertsQnA
{
	position: absolute;
	top: 45px;
	left: 30%;
	color: white;
	background-color: 7B967B;
	border: 2px solid white;
	border-radius: 5px 5px 5px 5px ;
	height: 23px;
	z-index: 2000;
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */	
	box-shadow: 0 3px 10px 
	black
	inset, 5px 3px 5px gray;		
}
.userWelcomeDiv
{
	float:left;
	background:#96544A;
	margin-top: 15px;
	margin-left: 8px;
	width: 280px;
	height: 112px;
	border-radius: 10px 10px 10px 10px;
	border: 3px solid white; 
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */	
	
	box-shadow: 0 3px 10px 
	black
	inset, 12px 10px 12px gray;
}
.userWelcomeDivOthers
{
	float:left;
	background:#96544A;
	margin-top: 15px;
	width: 280px;
	height: 115px;
	border-radius: 10px 10px 10px 10px;
	border: 3px solid white; 
	margin: 12px; 
	box-shadow: 1px 1px 10PX 
	black
	inset, 6px 8px 6px gray;
	
	background: rgb(79,133,187); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(79,133,187,1) 0%, rgba(79,133,187,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(79,133,187,1)), color-stop(100%,rgba(79,133,187,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(79,133,187,1) 0%,rgba(79,133,187,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(79,133,187,1) 0%,rgba(79,133,187,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(79,133,187,1) 0%,rgba(79,133,187,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(79,133,187,1) 0%,rgba(79,133,187,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=0 ); /* IE6-9 */	
}
.userWelcomeDivStatus
{
	font-size: 16px;
	float: left;
	margin-top: 2%;
	padding-left: 10px;
	color: white;
	overflow:  auto;
	max-width: 150px;
	max-height: 40px;
}
.userWelcomeTitle
{
	color: white;
	font-size: 19px;
	border: 0px solid #E89797;
	border-radius: 10px 10px 10px 10px;
}
.userWelcomeSubmitButton
{
	width: 260px !important;
	height: 30px;
	font-size: 16px;
}
.userWelcomeSubmitButtonOthers
{
	width: 260px !important;
	height: 28px;
	font-size: 16px;	
}
.userWelcomeHeader
{
	border: 2px solid white;
	width: 280px;
	border-radius: 10px 10px 10px 10px;
	text-align: center;
	color: white;
	background: rgb(255,175,75); /* Old browsers */
	
	color: white; 

	background: rgb(63,113,163); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(63,113,163,1) 0%, rgba(63,113,163,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(63,113,163,1)), color-stop(100%,rgba(63,113,163,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(63,113,163,1) 0%,rgba(63,113,163,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(63,113,163,1) 0%,rgba(63,113,163,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(63,113,163,1) 0%,rgba(63,113,163,1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(63,113,163,1) 0%,rgba(63,113,163,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f71a3', endColorstr='#3f71a3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */	
}
.SubmitButton
{
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}
.tableHeaders
{
	font-weight: bold;
	font-size: 17px;
}
.AppraisalStatususerNotification
{
	position: absolute;
	top: 45px;
	left : 40%;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px 10px 10px 10px;
}
.welcomeDiv
{
	width: 200px;
	height: 42px;
	font-size: 18px;
	text-align: center;
	/*color: #BD374D;*/
}
.userWelcomeReportsdiv
{
	float:left;
	width: 280px;
	height: 113px;
	margin: 15px 0px 0px 25px;
	border: 3px solid white;
	border-radius: 10px 10px 10px 10px;
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */	
	box-shadow: 0 3px 10px 
	black
	inset, 12px 10px 12px gray;		

}
.userWelcomeappraisalInstructions
{
	float: left;
	width: 27%;
	height: 450px;
	border: 3px solid white;
	margin-left: 5px;
	margin-top: 15px; 
	font-size: 16px !important;
	color: white;
	border-radius: 10px 10px 10px 10px;
	overflow: auto;
	
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */	
	box-shadow: 0 3px 10px 
	black
	inset, 12px 10px 12px gray;		
}
.userWelcomeInstructionHeader
{
	font-size: 22px;
	font-variant: small-caps;
	text-align: center;
	margin-top: px;
	border-radius: 5px 5px 0px 0px;
	height: 25px;
	
	background: rgb(125,126,125); /* Old browsers */ 
	background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */  
	background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */ 
	background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */ 
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */ 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}
.userWelcomeBackground
{
	background: url("/static/black50.png") repeat scroll left top transparent;
}
.userWelcomeBackground
{
	/*background: url('/static/black50.png') epeat scroll left top transparent;*/
	background: url("/AppraisalStatic/Images/fabric_plaid.png") repeat scroll left top transparent;
    border-radius: 0 0 0 0 !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15) !important;
    margin: 0 auto !important;
}
.noAnswer
{
	margin-right: 15px;
}