#border: thin solid #444444;
.loginContainer
{
	align:center;
	padding:20px;
	text-align:center
}
.divContainer
{
	float:left;width:33%;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
height: 28px;font-size:16;}

.tableRow
{ 
	font-size: 15px !important;
	height: 30px !important;
	color: #505450 !important;
	border : 0px thin #00000 !important; 
	/*box-shadow: 2px 3px 5px 3px #3C3013,
        inset 1px 1px 1px 1px #4C4023,
        inset 2px -2px 2px 1px #8C8083 !important;*/
    /*box-shadow: 1px 2px 3px 2px #C7C7C7,
        		inset 1px 1px 1px 1px #EBE8E9,
        		inset 2px -2px 2px 1px #F7F2F4 !important;*/
}
.sliders
{
	margin-top: 6px;
	width: 90%;
}
.sliderValue
{
	border: 0 !important; 
	/*color: #f6931f !important;*/
	font-weight: bold !important;
	box-shadow: 0 0 0 0 !important;
	vertical-align:middle !important;
	max-width: 35px !important;
	background-color: #e3e8e4 !important;
	margin-top: 5px;
	float: right;
	padding-bottom: 8px !important;
}
.slide
{
	width: 50%;
	height: 50px !important;
}
.tableDisplay td
{
     border-top: 0px none #DDDDDD !important;
     padding-bottom: 10px;
 	 vertical-align: middle;
 	 font-size: 15px !important;
}
.tableDisplay tr
{
	border: 2px thin ;
}

.ui-slider-handle
{
	height: 1.3em !important;
}
.ui-slider-horizontal
{
	height: .9em;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 8px !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 8px !important;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 8px !important;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 8px !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
{
	background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% transparent;
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;	
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
	background-color: #D4D4D4 !important;
	background-image: none;
	border: 1px solid #4A4A4A;
}
.SliderStyle
{
	
}
.headerGradient
{
background: #cedce7; /* Old browsers */
background: -moz-linear-gradient(top, #cedce7 0%, #596a72 0%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(0%,#596a72)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 0%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cedce7 0%,#596a72 0%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cedce7 0%,#596a72 0%); /* IE10+ */
background: linear-gradient(to bottom, #cedce7 0%,#596a72 0%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
height: 40px;
}
.headerPosition
{
	margin-left: -10px; 
	width:100%; 
	margin-top: -20px; 
	padding-bottom: 10px;
}
.headerFont
{
	padding-top: 13px;
	width : 50%;
	padding-left: 20px;
	font-size: 25px;
	font-family: "Times New Roman",Georgia,Serif;
	font-weight: normal;
}

.ui-widget-content 
{
    background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #FFFFFFF;
    border: 0px solid #AAAAAA;
    color: #222222;
    font-weight: bold;
}
.ui-widget-header 
{
	background: -moz-linear-gradient(top, #cedce7 0%, #596a72 0%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(0%,#596a72)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 0%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cedce7 0%,#596a72 0%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cedce7 0%,#596a72 0%); /* IE10+ */
	background: linear-gradient(to bottom, #cedce7 0%,#596a72 0%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
	
}
.leftLine
{
	float: left;
	height: 750px;
	width: 5px;
	background-color: #596A72;
}
.userTile
{
	border: 2px thin #444040 !important;
	background-color: #E5E8EE;
	color:#111111;
	font-size:15px;
	padding-left: 4px;
	padding-top: 4px;
	margin: 2px	2px 3px 5px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	line-height: 23px;
	border-radius: 10px 10px 10px 10px;
	text-align: left;
}
.userList
{
	/*border: 2px solid #444040 !important;*/
	/*background-color: #B1B2B1;*/
	max-height: 500px;
	overflow: auto;	
	direction: rtl; !important;
}
.title
{
	/*border: 2px solid #444040 !important;*/
	font-size: 16px;
	padding-top: 12px;
	text-align: center;
	padding-bottom: 12px;
	
}
body
{
	padding-top:60px !important;
	padding-left:10px !important;
	background-color:#e3e8e4 !important;
}
.UserListing
{
	background-color: rgb(100,139,158);
}
.formMaster
{
	padding-left: 20px;
}
.tableDisplayMaster td
{
     border-top: 0px none #DDDDDD !important;
     vertical-align: middle !important;
     font-size: 15px !important;
}
.TextArea
{
	height: 150px !important;
	min-width: 364px !important;
	max-width: 500px !important;
}
.textArealabel
{
	vertical-align: top !important;
}
.projList
{
	float: right;
	padding-right: 25px;
	vertical-align: top !important;
	width: 25% !important;
}
.accordion-heading {
    background-color: #dadada;
}
.accordion-group {
    border: 1px solid #000000 !important;
}
.Project
{
	border: 1px medium ;
	padding: 2px 2px 2px 2px !important;
	box-shadow: 1px 2px 3px 2px #C7C7C7,
        		inset 1px 1px 1px 1px #EBE8E9,
        		inset 2px -2px 2px 1px #F7F2F4 !important;   		
}
.UPCatalog
{
	float: right;
	padding-right: 100px;
	width: 25%;
}
.UPCatalog ul
{
	width: 80%;
}
.UPCatalog li
{
	font-weight: normal !important;
}
.ContentHolder
{
	display: inherit !important;
}
.Contentlabel
{
	vertical-align: top !important;
	font-size: 15px;
}
.dragableBlocks
{
	width: auto;
	font-size: 14px;
	
}
.listHeader
{
	
	font-size: 15px !important;
	padding-left: 66px;
	font-family: cursive;	
}
.questionNum
{
	font-size: 20px;
	 
	background: #A19FA0;  
    /*border: 1px solid #bbbbbb;*/
    border-top-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
	border-bottom-width: 2px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #525151;
	border-left-color: #525151;
	border-right-color: #525151;
	border-bottom-color: #525151;  
    width: 150px;  
    height: 30px;
    margin-top: -8px;
    border-radius: 35px 0px 35px 0px;
}
.InnerQuesNum
{
	padding-left: 25px;
	padding-top: 6px;
}
.question
{
	height: 30%;
	padding-top: 8px;	
}
.questioHeader
{
    /*border-bottom: 1px solid #101010;
    border-top: 1px solid #4B4B4C;*/
    height: 30%;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
}
.pageNumber
{
	position: absolute;
	bottom: 100px;
}
.questionContent
{
	font-size: 15px;
	font-style: oblique;
	background-color: #FFFFFF;
	margin-top: 15px; 
}
.outterQuestion
{
	width: 80% !important;
	height: 35%;
	float: left;
	margin-right: 8px;
}
.beforeQuestion
{
	float: left;
	width: 5%;
	height: 35%;
	margin-right: 13px;
}
.afterQuestion
{
	float: right;
	width: 5%;
	height: 35%;
	margin-right: 20px;
}