<html>
	<head>
		<!-- CSS -->
		<link href="/static/libraries/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="/static/libraries/font-awesome/css/font-awesome.css" rel="stylesheet">
		<link href="/static/libraries/jquery-ui-1.10.3/themes/base/jquery-ui.css" rel="stylesheet">
		<!-- JS libraries -->
		<script type="text/javascript" src="/static/libraries/bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="/static/libraries/jquery-ui-1.10.3/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="/static/libraries/jquery-ui-1.10.3/ui/jquery-ui.js"></script>
	</head>
{% block pagecontent %} {% endblock %} 
</html>