<html>
	<head>
		<!-- CSS -->
		<link href="/static/css/bootstrap.css" rel="stylesheet">
		<link href="/static/css/font-awesome.css" rel="stylesheet">
		<link href="/static/css/jquery-ui.css" rel="stylesheet">
		<!-- JS libraries -->
		<script type="text/javascript" src="/static/js/bootstrap.js"></script>
		<script type="text/javascript" src="/static/js/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
	</head>
{% block pagecontent %} {% endblock %} 
</html>