{% extends "base.html" %}
{% block pagecontent %}
		<br/><br/><br/><br/><br/><br/><br/>
		<script type="text/javascript">
		$('li[showonloginscreen=false]').hide();
		</script>
		<form action="/login/" method="post">{% csrf_token %}
			
			<fieldset style="width:33%;text-align:center">
    			<legend>LOGIN</legend>
				<div class="loginContainer">
					{% if error != null %}
						<div class="alert alert-error">{{error}}</div>
					{% endif %}
					{% if success != null  %}
						<div class="alert alert-success">{{success}}</div>
					{% endif %}
					<table>
					<tr>
						<td>{{form.txtUserName}}</td>
					</tr>
					<tr>
						<td><label> {{form.txtUserName.errors}}</label></td>
					</tr>
					<tr>
						<td>{{form.txtPassword}}</td>
					</tr>
					<tr>
						<td>{{form.txtPassword.errors}}</td>
					</tr>
					<tr>
						<td><input class="btn btn-primary" type="submit" value="Login"></td>
					</tr>
					</table>
				</div>
			</fieldset>
			<div class="divContainer">&nbsp;</div>
			
		</form>
	{% endblock %}