{% extends "base.html" %}
{% block pagecontent %}
<script type="text/javascript">
	 $(function() {
		 $( "#questionLevel" ).slider({
		 orientation: "horizontal",
		 range: "min",
		 min: 0,
		 max: 10,
		 value: 0,
		 slide: function( event, ui ) {
		 $( "#questionLevelVal" ).val( ui.value );
		 }
		 });
		 $( "#questionLevelVal" ).val( $( "#questionLevel" ).slider( "value" ) );		
	 });
	 $(function() {
		 $( "#questionWeight" ).slider({
		 orientation: "horizontal",
		 range: "min",
		 min: 0,
		 max: 10,
		 value: 0,
		 slide: function( event, ui ) {
		 $( "#questionWeightVal" ).val( ui.value );
		 }
		 });
		 $( "#questionWeightVal" ).val( $( "#questionWeight" ).slider( "value" ) );		
	 });
	</script>
	<!-- <script type="text/javascript">
	$(function() {
		$("label").each(function(){
			alert("tr found");
			$(this).attr("background-color" , "#d4d9d5");
		});
	});
	</script> -->
	<script type="text/javascript">
	$(function() {
		$("body").css("background-color" , "#e3e8e4 !important");
	});
	</script>
	
<div class="label headerGradient headerPosition" >
		<i class="icon-question-sign icon-3x" style="float: left; padding-left: 20px; padding-top: 4px"></i>
		<p class=" headerFont" style="float: left; padding-top: 15px">Create question</p>
</div>
<br/><br/>
<div style="float:left;">
	{{ questionCreateform.objtype.label }}	<br/>
	<ul>
		<li><a onclick="$('*[Common=true],*[MCQ=true]').show();">MCQ</a></li>
		<li><a onclick="$('*[Common=true]').show();$('*[MCQ=true]').hide();">Subjective</a></li>
	</ul>
</div>
<div style="float:left;background-color:#596A72;height:500px;margin-top:-40px;margin-left:10px;margin-right:10px;">&nbsp;</div>
<form method="post" class="form-search" style="padding-top: 30px; padding-left:20px;">{% csrf_token %}
<table class="table tableDisplay hide" style="margin-left:5px;width:80%;" Common="true">
	<tr class="">
		<td width="15%">
			{{ questionCreateform.objquestion.label }}	
		</td>
		<td width="50%">
			{{ questionCreateform.objquestion }}
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			{{ questionCreateform.objinfo.label }}	
		</td>
		<td>
			{{ questionCreateform.objinfo }}
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			{{ questionCreateform.objintent.label }}	
		</td>
		<td>
			{{ questionCreateform.objintent }}
		</td>
		<td>
		
		</td>
	</tr>
	<tr class="">
		<td>
			{{ questionCreateform.objtype.label }}	
		</td>
		<td>
			{{ questionCreateform.objtype }}
		</td>
		<td>
		</td>
	</tr>
	<tr class="">
		<td>
			{{ questionCreateform.objlevel.label }}	
		</td>
		<td>
			<div id="questionLevel" class="sliders"></div>
		</td>
		<td>
			<input name="question_level" id="questionLevelVal" class="sliderValue" type="text">
		</td>
	</tr>
	<tr class="">
		<td>
			{{ questionCreateform.objweight.label }}	
		</td>
		<td>
			<div id="questionWeight" class="sliders"></div>
		</td>
		<td>
			<input name="question_weight" id="questionWeightVal" class="sliderValue" type="text">
		</td>
	</tr>
	<tr MCQ="true">
		<td>
			Options hello
		</td>
	</tr>
	
	<tr>
		<td>
			
			<br>
			<input type="submit" value="Create" class="btn btn-medium btn-inverse">
		</td>
		<td>
		</td>
		<td>
		</td>
	</tr>
</table>

{% if questionCreateform.errors|length > 0 %}
	<div class="alert alert-error"> 
		{% for key, value in questionCreateform.errors.items %} 
			{{value}}
		{% endfor %}
	</div>
{% endif %}
		
<p>{{ successMsg }}</p>
</form>
{% endblock %}