<table class="table tableDisplay"><tr><td>
<div style="font-size:15px;">
	<style>
		#sortable,#sortable1 { list-style-type: none; margin: 0; padding: 0; }
		#sortable li, #sortable1 li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.0em; font-size: 1.1em; height: 48px; }
		#sortable li span, #sortable1 li span { position: absolute; margin-left: 0em; }
	</style>
	<script type="text/javascript">
	$(function(){
		$('input[name=spinner]').spinner({
	spin: function( event, ui ) {
		if ( ui.value > 10 ) {
			$( this ).spinner( "value", 0 );
		return false;
		} else if ( ui.value < 0 ) {
			$( this ).spinner( "value", 10 );
			return false;
		}
	}
});
	});
	</script>
	{{ optionCreateform.option_header_text.label }} <br/>
	{{optionCreateform.option_header_text }}<br/>
	<br/>
	<input type="hidden" id="option_header_id_temp" name="option_header_id"/>
	{{optionCreateform.option_header_id}}
	{{optionCreateform.option_text.label}}
	{{optionCreateform.option_text}} <br/>
	<div class="btn-group">
		<a id="btnMinus" class="btn btn-primary"><i class="icon-minus-sign"></i></a>
		<a id="btnPlus" class="btn btn-primary"><i class="icon-plus-sign"></i></a>
	</div>
	<ul id="sortable">
		<li class="ui-state-default">
			<span class="ui-icon ui-icon-arrowthick-2-n-s" style="margin-left:-1.0em;"></span>
			<textarea type="text" name="options" style="margin-top:-5px;width:89%;height:52px;" rows="2"></textarea>
			<input name="spinner" style="width:26px;margin-left:-6px;height:25px;padding-left:4px;"/>
		</li>
	</ul>
	<br/>
	<div id="divRdList" class="hide">
		<input type="radio" name="OptionList" id="rdUseExisting" value="1" checked="checked">&nbsp;Use Existing<br/>
		<input type="radio"  name="OptionList" id="rdUseExistingforCreateNew" value="2">&nbsp;Use Existing and create new
	</div>
	
</div>
</td></tr></table>
</td>
<td style="vertical-align:top;">
<table class="table tableDisplay"><tr><td>
<a class="btn btn-primary" id="hrefUserExisting">Populate option list</a>
<div id="dialog-form" title="Edit Options" style="font-size:15px;">
 	<p class="validateTips">All form fields are required.</p>
	<form>
	<fieldset>
	{{ optionCreateform.option_header_text.label }} <br/>
	{{optionCreateform.option_header_text }}<br/>
	<br/>
	<input type="hidden" id="option_header_id_temp" name="option_header_id"/>
	{{optionCreateform.option_header_id}}
	{{optionCreateform.option_text.label}}
	{{optionCreateform.option_text}} <br/>
	<div class="btn-group">
		<a id="btnMinus1" class="btn btn-primary"><i class="icon-minus-sign"></i></a>
		<a id="btnPlus1" class="btn btn-primary"><i class="icon-plus-sign"></i></a>
	</div>
	<ul id="sortable1">
		<li class="ui-state-default">
			<span class="ui-icon ui-icon-arrowthick-2-n-s" style="margin-left:-1.0em;"></span>
			<textarea type="text" name="options" style="margin-top:-5px;width:89%;height:52px;" rows="2"></textarea>
			<input name="spinner" style="width:26px;margin-left:-6px;height:25px;padding-left:4px;"/>
		</li>
	</ul>
	</fieldset>
	</form>
</div>
<div id="divOptionList" style="overflow:auto;height:600px;font-size:15px;">
</div>
</td></tr></table>
</td>