{% extends "base.html" %}
{% block pagecontent %}
 <script>
$(function() {
	//alert($("input[name=type_text]").val());
	$( "#tabs" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
	$("#tabs").removeClass("ui-widget-content");
	$( "#tabs li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
	$("#tabs-1, #tabs-2").removeClass("ui-widget-content");
	$( "#sortable,#sortable1" ).sortable();
	$("#btnPlus,#btnPlus1").click(function(){
		if($(this).parent().parent().find("#sortable li,#sortable1 li").length <= 10)	{
			$(this).parent().parent().find("#sortable,#sortable1").append("<li class=\"ui-state-default ui-corner-left\">"+
								"<span class=\"ui-icon ui-icon-arrowthick-2-n-s\" style=\"margin-left:-1.0em;\"></span>"+
								"<textarea type=\"text\" name=\"options\" class=\"fontSize\" style=\"margin-top:-5px;width:85%;height:52px;\" rows=\"2\"></textarea>"+
								"<input name=\"spinner\" class=\"fontSize\" style=\"width:25px;margin-left:0px;height:25px;padding-left:4px;\"/></li>");
			$('input[name=spinner]').spinner({
					spin: function( event, ui ) {
						if ( ui.value > 10 ) {
							$( this ).spinner( "value", 0 );
						return false;
						} else if ( ui.value < 0 ) {
							$( this ).spinner( "value", 10 );
							return false;
						}
					}
				});
			}
		else
			alert("Cannot have more than 10 options");
	});
	
	$("#btnMinus,#btnMinus1").click(function(){
		if($(this).parent().parent().find("#sortable li,#sortable1 li").length > 1)
			$(this).parent().parent().find("#sortable li:last,#sortable1 li:last").remove();
	});
	
	function setOptions()
	{
		if( $("input[name=option_text]").val()!="")
			{		
				arroptions = $("input[name=option_text]").val().split("|,|");
				$.each(arroptions, function(index,value)
				{
					arrSetOpt = value.split("|#|");
					$( "#sortable li:last textArea[name=options]" ).val(arrSetOpt[0]);
					$("#sortable li:last input[name=spinner]").val(arrSetOpt[1]);
					$("#btnPlus").trigger('click');
				}
				);
				$("#btnMinus").trigger('click');
			} 
	}
	function setSort()
	{
		if($("input[name=OptionList]:checked").val() == 2)
		{
			$( "#sortable" ).sortable('enable');
			$("#id_option_header_id").val('0');
			$( "#sortable" ).enableSelection();
			$("*[name=option_header_text]").removeAttr('readonly','readonly');
			$("#btnPlus,#btnMinus").show();
		}
		else
		{
			$( "#sortable" ).sortable('disable');
			$( "#sortable" ).disableSelection();
			$("input[name=option_header_id]").val($("#option_header_id_temp").val());
			$("*[name=option_header_text]").attr('readonly','readonly');
			$("#btnPlus,#btnMinus").hide();
		}
	}
	$('*[name=liQuestionType]').click(function(){
		if($("#tabs-2").css('display')=="block" || $("#tabs-2").css('display')=="table")
		{
			$("#tabs-1").css('display','block');
		}
		$("input[name=type_text]").val($(this).attr("value"));
		if ($("input[name=type_text]").val() == 'MCQ')
		{
			$("*[name=option_header_id]").val({{optionCreateform.option_header_id.value}});
			setOptions();
			if($("#id_option_header_id").val()!="" && $("#id_option_header_id").val()!="0")
			{
				$("#divRdList").removeClass("hide");
				setSort();
			}
				
		}
		else
		{
			$("input[name=option_text]").val("");
			$("#sortable li:gt(0)").remove();
			$("#sortable li input").val("");
		}
		
	});

	$("#CreateQuestion").click(function(){
		var data="";
		$( " form textArea[name=options]" ).each(function( index ) {
			if($(this).val()!='' && $(this).parent().find('input[name=spinner]').val()!='')
				data = data + $(this).val()+'|#|'+$(this).parent().find('input[name=spinner]').val() +'|,|';
		});
		data = data.slice(0,-3);
		$("input[name=option_text]").val(data);
	});
	
	$("*[name=liQuestionType]").each(function(){
			if( $(this).attr('value') == $("input[name=type_text]").val())
				$(this).trigger('click');
		});
	
	
	
	$("input[name=OptionList]").change(function(){
		
		setSort();
	});
	
	LoadSlider($( "#questionLevel" ).get("selector"),  $( "#questionLevelVal" ).get("selector"), 10, 0, {{questionCreateform.level.value}} );
	LoadSlider($( "#questionWeight" ).get("selector"),  $( "#questionWeightVal" ).get("selector"), 10, 0, {{questionCreateform.weight.value}} );
	
	
	
	$("#hrefUserExisting").click(function()
	{
		$("#sortable").css('read-only','true');
		$("#divOptionList div").remove();
		AjaxEvent({'search_txt':'data'}, '/question/optionList/',function(data, textStatus, jqXHR){
			
			$('#divOptionList').append(data);
			
			$("*[name=btnUseIt]").click(function(){
				data = {'search_txt':$(this).attr('data')};
				AjaxEvent(data, '/question/optionDetails/',function(data, textStatus, jqXHR){
						var response=jQuery.parseJSON(data);
						$("input[name=option_text]").val(response.Options);
						$("*[name=option_header_text]").val(response.OptionHeader);
						$("#sortable li:gt(0)").remove();
						$("#sortable li:first input").val("");
						$("input[name=option_header_id]").val(response.OptionHeaderID);
						$("#divRdList").removeClass("hide");
						setOptions();
					    setSort();
						$( "#sortable" ).sortable('disable');
						},null);
			});
			
			$('*[name=btnEditIt]').click(function() {
				$( "#dialog-form" ).dialog( "open" );
				$('#dialog-form').find('*[name=option_header_text]').removeAttr('readonly','readonly');
				data = {'search_txt':$(this).attr('data')};
				AjaxEvent(data, '/question/optionDetails/',function(data, textStatus, jqXHR){
							var response=jQuery.parseJSON(data);
							$('#dialog-form').find("input[name=option_text]").val(response.Options);
							$('#dialog-form').find("*[name=option_header_text]").val(response.OptionHeader);
							$('#dialog-form').find("#sortable1 li:gt(0)").remove();
							$('#dialog-form').find("#sortable1 li:first input").val("");
							$('#dialog-form').find("input[name=option_header_id]").val(response.OptionHeaderID);
							if( $('#dialog-form').find("input[name=option_text]").val()!="")
							{		
								arroptions = $('#dialog-form').find("input[name=option_text]").val().split("|,|");
								$.each(arroptions, function(index,value)
								{
									arrValue = value.split('|#|');
									$('#dialog-form').find( "#sortable1 li:last textArea[name=options]" ).val(arrValue[0]);
									$('#dialog-form').find( "#sortable1 li:last input[name=spinner]" ).val(arrValue[1]);
									$('#dialog-form').find("#btnPlus1").trigger('click');
								}
								);
								$('#dialog-form').find("#btnMinus1").trigger('click');
							} 
							},null);
			
			});
			
		},null);
		
	});
	 tips = $( ".validateTips" );
	 flag=true;
	function updateTips( t ) {
	flag=false;
	tips
	.text( t )
	.addClass( "ui-state-highlight" );
	setTimeout(function() {
	tips.removeClass( "ui-state-highlight", 1500 );
	}, 500 );
	}
	$( "#dialog-form" ).dialog({
			autoOpen: false,
			height: 400,
			width: 500,
			modal: true,
			position:[(screen.width-500)/2,(screen.height-600)/2],
			buttons: {
				"Edit": function() {
					var data="";
					flag=true;
					$( "#dialog-form input").removeClass( "ui-state-error" );
					$( "#dialog-form textArea[name=options]" ).each(function( index ) {
						if($(this).val()!='' && $(this).parent().find('input[name=spinner]').val()!='')
							data = data + $(this).val()+'|#|'+$(this).parent().find('input[name=spinner]').val() +'|,|';
					});
					data = data.slice(0,-3);
					$("#dialog-form input[name=option_text]").val(data);
					if(data=='')
					{
						updateTips('Enter options');
						$( "#dialog-form textArea[name=options]").addClass( "ui-state-error" );
					}
					
					if($("#dialog-form *[name=option_header_text]").val()=="")
					{
						updateTips('Enter option header');
						$( "#dialog-form *[name=option_header_text]").addClass( "ui-state-error" );
					}
					else
					{
						data={'search_txt':'Validate','stitle':$("#dialog-form *[name=option_header_text]").val(),'nOptionHeaderID':$('#dialog-form').find("input[name=option_header_id]").val()};
						AjaxEvent(data, '/question/validateOptionHeader/',function(data, textStatus, jqXHR){
											var response=jQuery.parseJSON(data);
											if(response.error != '')
											{
												updateTips(response.error);
											}
											else
											{
												if(flag)
												{
													data={'search_txt':'Validate','option_header_text':$("#dialog-form *[name=option_header_text]").val(),'option_header_id':$('#dialog-form').find("input[name=option_header_id]").val(),
													'option_text':$("#dialog-form input[name=option_text]").val()
													};
													
													AjaxEvent(data, '/question/updateOption/',function(data, textStatus, jqXHR){
																		var response=jQuery.parseJSON(data);
																		if(response.success != '')
																		{
																			alert(response.success);
																			$( "#dialog-form" ).dialog( "close" );
																			$("#hrefUserExisting").trigger('click');
																		}	
																	},null);
												}
											}
										},null);
					}
					
					
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			},
			create: function (event) { $(event.target).parent().css('position', 'fixed');},
   
			close: function() {
				$( "#dialog-form input").removeClass( "ui-state-error" );
			}
	});	
		
});
</script>
<style>
	.ui-tabs-vertical { width: 55em; }
	.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; }
	.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
	.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
	.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0px; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
	.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
	.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{background:#E3E8E4 !important;}
</style>
<div class="label headerGradient headerPosition" >
		<i class="icon-question-sign icon-3x" style="float: left; padding-left: 20px; padding-top: 4px"></i>
		<p class=" headerFont" style="float: left; padding-top: 15px">Create question</p>
</div>
<br/><br/>
<form method="post" class="form-search" >{% csrf_token %}
<div id="tabs" style="width:100%;">
	 <ul>
	    {%for value, text in questionCreateform.type.field.choices %}
    		<li><a value={{text}} name="liQuestionType" href="#tabs-{{value}}">{{text}}</a></li>
		{% endfor %}
	</ul>
	{{questionCreateform.type_text}}
	{{questionCreateform.questionID}}
	<div >
	<table><tr><td style="vertical-align:top;" width="40%">
	<table id="tabs-1" class="table tableDisplay fontSize" style="margin-left:5px;width:100%;" Common="true">
	<!-- <tr>
		<td>
			{{ questionCreateform.type.label }}	
		</td>
		<td>
			 {{ questionCreateform.type}}
		</td>
		<td>
		
		</td>
	</tr> -->
	<tr>
		<td>
			<label  class="fontSize">{{ questionCreateform.info.label }}</label>	<br/>
			{{ questionCreateform.info }}
		</td>
		<td>
		</td>
	</tr>
	<tr class="">
		<td width="200px">
			<label  class="fontSize">{{ questionCreateform.question.label }}	</label><br/>
		
			{{ questionCreateform.question }}
		</td>
		<td>
		</td>
	</tr>
	
	<tr>
		<td>
			<label  class="fontSize">{{ questionCreateform.intent.label }}	</label><br/>
			 {{ questionCreateform.intent}}
		</td>
		<td>
		
		</td>
	</tr>
	<tr class="">
		<td>
			<label  class="fontSize">{{ questionCreateform.level.label }}</label>	<br/>
			<div id="questionLevel" class="sliders"></div>
		</td>
		<td>
			<input name="level" id="questionLevelVal" class="sliderValue" type="text">
		</td>
	</tr>
	<tr class="">
		<td>
			<label  class="fontSize">{{ questionCreateform.weight.label }}</label>	<br/>
			<div id="questionWeight" class="sliders"></div>
		</td>
		<td>
			<input name="weight" id="questionWeightVal" class="sliderValue" type="text">
		</td>
	</tr>
	
	<tr>
		<td colspan="2">
		{% if questionCreateform.questionID.value == '0'%}
			<input id="CreateQuestion" type="submit" value="Create" class="btn btn-medium btn-inverse fontSize">
		{% else %}
			<input id="CreateQuestion" type="submit" value="Update" class="btn btn-medium btn-inverse fontSize">
		{%endif%}
		</td>
	</tr>
	<tr>
	<td colspan="2">
		{% if questionCreateform.errors|length > 0 %}
	<div class="alert alert-error"> 
		{% for key, value in questionCreateform.errors.items %} 
			<label  class="fontSize">{{value}}</label>
		{% endfor %}
	</div>
{% endif %}
{% if optionCreateform.errors|length > 0 %}
	<div class="alert alert-error"> 
		{% for key, value in optionCreateform.errors.items %} 
			<label  class="fontSize">{{value}}</label>
		{% endfor %}
	</div>
{% endif %}
		
<p>{{ successMsg }}</p>
	
	</td>
	</tr>
	</table>
	</td>
	<td style="vertical-align:top;" width="60%">
		<table id="tabs-2" style="width:100%;display:none;" class="table tableDisplay">
		<tr>
		<td style="vertical-align:top;">{% include "Questions\CreateOptions.html" %}</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		</table>
	</td>
	</tr>
	</table>
	</div>	
</div>

</form>
{% endblock %}