<div>
	<style>
		#sortable { list-style-type: none; margin: 0; padding: 0; }
		#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
		#sortable li span { position: absolute; margin-left: -1.3em; }
	</style>
	<script>
	$(function() {
	
		$( "#sortable" ).sortable();
		
		$("#btnPlus").click(function(){
			if($("#sortable li").length <= 10)	
				$("#sortable").append("<li class=\"ui-state-default\">"+$("#sortable li:first").html()+"</li>");
			else
				alert("Cannot have more than 10 options");
		});
		
		$("#btnMinus").click(function(){
			if($("#sortable li").length > 1)
				$("#sortable li:last").remove();
		});
	
	});
	</script>
	{{ optionCreateform.option_header_text.label }} <br/>
	{{optionCreateform.option_header_text }}<br/>
	<br/>
	{{optionCreateform.option_header_id}}
	{{optionCreateform.option_text.label}}
	<ul id="sortable">
		<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{optionCreateform.option_text}}</li>
	</ul>
	<div class="btn-group">
		<a id="btnMinus" class="btn btn-primary"><i class="icon-minus-sign"></i></a>
		<a id="btnPlus" class="btn btn-primary"><i class="icon-plus-sign"></i></a>
	</div>
</div>
