{% extends "Questions/Question.html" %}
{% load url from future %}

{% block Answer %}
<script type="text/javascript">

/*$(function(){
	$('input[name="abc"]').change(function(event){
		
		$('#appAnswer').val($('input[name="abc"]:checked').val())
	});
});
*/
</script>

 <script>
	$(function() {
		$( "#radio" ).buttonset();
	});
 </script>

<script type="text/javascript">
$(function(){
	$('input[value={{ AppraisalContents.answer.answer }}]').attr('checked','checked');
	$('label[for={{ AppraisalContents.answer.answer }}]').addClass('ui-state-active');
});
</script>
<div id="MCQDiv" class="MCQ">
	<div id="radio">
	{{ AppraisalContents.question.option_header.option_text }}
		{% for option in options %}
			<input id="{{ option.option_id }}" type="radio" name="appAnswer" value="{{ option.option_id }}" />
				<label for="{{ option.option_id }}" style="width: 100%; height: 25px; border-radius: 5px 5px 5px 5px !important; border: none; padding: 0;">
					{{ option.option_text }} 
			</label>
			<br>
		{% endfor %}
		 
	</div>
	<textarea name="extended_answer" placeholder="Elaborate your answer" style="width: 100%; height: 100%; margin-top: 5px; ">{% if AppraisalContents.answer.extended_answer != None and AppraisalContents.answer.extended_answer != '' %}{{ AppraisalContents.answer.extended_answer }} {% endif %}</textarea>
</div>

{% endblock %}