{% extends "base.html" %}
{% load url from future %}

{% block pagecontent %}
<script type="text/javascript">
/*
$(function(){
	var pageno = 0;
	pageno = {{ AppraisalContents.question_order }};
	pageno += 1;
	action = '/question/' + pageno.toString() + '/';
	$('#formAppraisal').attr('action', action);
});*/
</script>
<form id="formAppraisal" action="/question/{{ AppraisalContents.question_order }}/" method="post" style="padding-left: 10px;" >{% csrf_token %}
	
	<div id="questionid" name="questionid" class="questionNum">
		<div class="InnerQuesNum">Question {{ AppraisalContents.question_order }}</div>
	</div>
	<div id="question" name="question" class="questionOutter">	
		<div class="questionBorder ">
			<div class="question ">
				<div class="questioHeader">{{ AppraisalContents.question.info }}</div>
				<div>{{ AppraisalContents.question.question }}</div>
			</div>
		</div>
	</div>	
	{% block Answer %}
	{% endblock %}
	
	<div>
		<ul class="pager">
		    <input type="submit" name="Previous" value="Previous"></input>
		    <li><a href="">&larr;Previous</a></li>
		    <li><a href="">Next &rarr;</a></li>
		    <input type="submit" name="Next" value="Next"></input>
	    </ul>
	</div>
	
	<div class="pagination pagination-large pagination-centered pageNumber">
		<ul>
			{% if AppraisalContents.question_order == 1 %}
				<li><a href="#">&laquo;</a></li>
			{% else %}	
				<li><a href="/question/{{ previousPageNumber }}/">&laquo;</a></li>
			{% endif %}	
			{% for page in pages %}				
				<li><a href="/question/{{ page.question_order }}">{{ page.question_order }}</a></li>
			{% endfor %}
			<li><a href="/question/{{ nextPageNumber }}/">&raquo;</a></li>
		</ul>
	</div>
</form>

{% endblock %}