{% extends "base.html" %}
{% load url from future %}

{% block pagecontent %}

<form id="formCreateUser" action={{ AppraisalContents.question_number }} method="post" class="form-search" >{% csrf_token %}
	
	<div name="Question">
		
		{{ AppraisalContents.question_order }}
		{{ AppraisalContents.question.question }}
	</div>	
	{% block Answer %}
	{% endblock %}
	
	<div class="pagination pagination-large" style="float: bottom; ">
		<ul>
			{% for page in pages %}				
				<li><a href="/question/{{ page.question_order }}">{{ page.question_order }}</a></li>
			{% endfor %}
		</ul>
	</div>
</form>

{% endblock %}