{% extends "base.html" %}
{% block pagecontent %}
<div>

<style>

table td, table th {
    border: 1px solid #EEEEEE;
    padding: 0.6em 10px;
    text-align: left;
}
</style>
<script>
$(function(){
	$("*[name=hrefDeleteQuestion]").click(function(event){
		thisEvent = $(event.target);
		alert(thisEvent.closest('tr').find('*[name=txtQuestionId]').attr('val'));
		data={'search_txt':'Validate','QuestionID':thisEvent.closest('tr').find('*[name=txtQuestionId]').attr('val')};
													
		AjaxEvent(data, '/question/deleteQuestion/',function(data, textStatus, jqXHR){
							var response=jQuery.parseJSON(data);
							if(response.success != '')
							{
								thisEvent.closest('tr').remove();
							}
							
						},null);
	});
	
});
</script>
<table>{% csrf_token %}
<table id="users" class="ui-widget ui-widget-content">
		<thead>
			<tr class="ui-widget-header">
				<th>Question</th>
				<th>Level</th>
				<th>Weight</th>
				<th>Type</th>
				<th>Intent</th>
			</tr>
		</thead>
		<tbody>
{% for objQuestion in QuestionList%} 
	<tr>
		<td><input name="txtQuestionId" type="hidden" val="{{objQuestion.question_id}}"/>
		{{objQuestion.question}}</td>
		<td>{{objQuestion.level}}</td>
		<td>{{objQuestion.weight}}</td>
		<td>{{objQuestion.type}}</td>
		<td>{% if objQuestion.intent == 1%}
					+ve
			{% else%}
					-ve
			{%endif%}
		</td>
		<td><a class="btn btn-inverse" name="hrefEditQuestion" href="/question/editQuestion/{{objQuestion.question_id}}/">Edit</a></td>
		<td><a class="btn btn-inverse" name="hrefDeleteQuestion" >Delete</a></td>
	</tr>			
{% endfor %}
</tbody>
</table>

</div>

{% endblock %}