{% extends "Questions/Question.html" %}
{% load url from future %}

{% block Answer %}


<script type="text/javascript">
	LoadSlider($( "#answer_scale" ).get("selector"),  $( "#answerValue" ).get("selector"), 10, 0, 0 );
	
</script>
<div style="width: 100%; margin-top: 25px; margin-left: 20px;">
	<div class="Scale">
		<div id="answer_scale" class="Answerslider"></div>
		<label id="scaleNarrator" class="scaleLabel"></label>
	</div>
	<div class="sliderValueDiv">
		<input name="appAnswer" id="answerValue" class="sliderValueScale" type="text" style="font-size: 16px !important; background-color: #7B967B !important;">
	</div>
	<textarea name="extended_answer" class="answerExtra" placeholder="Elaborate your answer">{{ AppraisalContents.answer.extended_answer }}</textarea>
</div>
{% if AppraisalContents.answer.answer != None %} 
	<script type="text/javascript">	
		setSliderValue($( "#answer_scale" ).get("selector"), {{ AppraisalContents.answer.answer }});
	</script>
{% endif %}

{% endblock %}