{% extends "base.html" %}
{% block pagecontent %}
	<br/>
	<div>
	{% if Question%}
	{%for objQuestion in Question%}
		<a href="/question/{{objQuestion.question_order}}">
			<div> <label style="font-weight:bold;">{{objQuestion.question.info}}</label><br/>{{objQuestion.question.question}}</div>
			<br/>
			<div>Answer: {{objQuestion.question.level}}</div>
		</a>
		<br/><br/>
	{%endfor%}	
	{%endif%}
	</div>
	{% if error %}
		<div class="alert alert-error">{{error}}</div>
		<a href="/welcome/" class="btn btn-primary">Back to user list</a>
	{% endif%}
{% endblock %}
