{% extends "base.html" %}
{% load url from future %}

{% block pagecontent %}

<script type="text/javascript">
	$(function(){
		<!--{% for app in Appraisment %}
			$('#dropdown{{forloop.counter}}').val('{{ app.status }}');
		{% endfor %}-->
	});
</script>

<script type="text/javascript">

$(function(){
	$('.submitAppraisalStatus').click(function(event){
		var data = {
					'search_txt' : $(event.currentTarget).parent().parent().find('input[type="hidden"]').val(),
					'status' : $(event.currentTarget).parent().parent().find('select[name="status"]').val()
				   }
		
		AjaxEvent(data, '/userprofile/AppraisalStatus/', function successSerach(data, textStatus, jqXHR)
		{
			$('#userNotificationDiv').removeClass('hide');
			$('#userNotification').html(data);
			$('#userNotification').effect("slide", null, 500, null );
			setTimeout( function(){
				$('#userNotification').effect("fold", null, 1200, callback );
				function callback(){
					$('#userNotificationDiv').addClass('hide');	
				}
			}, 10000);
		}
		);
	});
	
	$('.submitConsideration').click(function(event){
		var data = {
				'search_txt' : $(event.currentTarget).parent().parent().find('input[type="hidden"]').val(),
				'status' : $(event.currentTarget).parent().parent().find('select[name="adminConsider"]').val()
			   }
		AjaxEvent(data, '/userprofile/AppraisalConsideration/', function successSerach(data, textStatus, jqXHR)
		{
			$('#userNotificationDiv').removeClass('hide');
			$('#userNotification').html(data);
			$('#userNotification').effect("slide", null, 500, null );
			setTimeout( function(){
				$('#userNotification').effect("fold", null, 1200, callback );
				function callback(){
					$('#userNotificationDiv').addClass('hide');	
				}
			}, 10000);
		});
	},
	null);
});

</script>

<form id="formAppraisalStatus" name="formAppraisalStatus" action="/userprofile/AppraisalStatus/" method="post" class="form-search" style="padding-top: 30px; margin-left: -0px;">{% csrf_token %}
	<div id="userNotificationDiv" class="AppraisalStatususerNotification hide">
		<p id="userNotification" style="margin: 5px;"></p>
	</div>
	
	<table class="table">
		<thead>
			<tr>
				<td>#</td>
				<td class="tableHeaders">Appraiser</td>
				<td class="tableHeaders">Appraisee</td>
				<td class="tableHeaders">Status</td>
				<td></td>
				<td class="tableHeaders">Appraisal consideration</td>
			</tr>
		</thead>
		
		<tbody>
		{% for app in Appraisment %}
			<tr>
				<input type="hidden" value="{{ app.appraisment_id }}">
				<td>
					{{forloop.counter}}
				</td>
				<td>
					{{ app.appraiser.firstname }}
					{{ app.appraiser.lastname }}
				</td>
				<td>	
					{{ app.appraisee.firstname }}
					{{ app.appraisee.lastname }}
				</td>
				<td style="width: 200px;">
					<select id=dropdown{{forloop.counter}} name="status" style="width: 180px;">
						<option value="select">Select status</option>
						<option value="Initial">Start appraisal</option>
						<option value="Created">In progress</option>
						<option value="Done">Done Appraising</option>
						<option value="Completed">Submitted</option>
						<option value="Reports">Reports</option>
					</select>
				</td>
				<td style="float: left;">
					<input type="button" value="Update status" class="submitAppraisalStatus btn">
				</td>
				<td style="width: 200px;">
					<select id=dropdown{{forloop.counter}} name="adminConsider" style="width: 180px;">
						<option value="yes" {% if app.consider_appraisal == True %} selected=selected {% endif %}>yes</option>
						<option value="no" {% if app.consider_appraisal == False %} selected=selected {% endif %}>no</option>
					</select>
				</td>
				<td style="float: left;">
					<input type="button" value="Update consideration" class="submitConsideration btn">
				</td>
			</tr>
		{% endfor %}
		</tbody>	
	</table>
</form>

{% endblock %}