{% extends "base.html" %}
{% load url from future %}

{% block pagecontent %}
	<script type="text/javascript">
	 $(function() {
		 $( "#userLevel" ).slider({
		 orientation: "horizontal",
		 range: "min",
		 min: 0,
		 max: 10,
		 value: 0,
		 slide: function( event, ui ) {
		 $( "#userLevelVal" ).val( ui.value );
		 }
		 });
		 $( "#userLevelVal" ).val( $( "#userLevel" ).slider( "value" ) );		
	 });
	 $(function() {
		 $( "#userWeight" ).slider({
		 orientation: "horizontal",
		 range: "min",
		 min: 0,
		 max: 10,
		 value: 0,
		 slide: function( event, ui ) {
		 $( "#userWeightVal" ).val( ui.value );
		 }
		 });
		 $( "#userWeightVal" ).val( $( "#userWeight" ).slider( "value" ) );		
	 });
	</script>
	<!-- <script type="text/javascript">
	$(function() {
		$("label").each(function(){
			alert("tr found");
			$(this).attr("background-color" , "#d4d9d5");
		});
	});
	</script> -->
	<script type="text/javascript">
	$(function() {
		$("body").css("background-color" , "#e3e8e4 !important");
	});
	</script>
	<div class="label headerGradient headerPosition" >
		<i class="icon-user icon-3x" style="float: left; padding-left: 20px; padding-top: 4px"></i>
		<p class=" headerFont" style="float: left; padding-top: 15px">Create user</p>
	</div>
	
	<form action="/CreateUser/" method="post" class="form-search" style="padding-top: 30px; padding-left:20px;">{% csrf_token %}
		<table class="table tableDisplay" style="margin-left:5px;">
			<tr class="">
				<td width="15%">
					{{ userCreateform.firstname.label }}	
				</td>
				<td width="50%">
					{{ userCreateform.firstname }}
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					{{ userCreateform.lastname.label }}	
				</td>
				<td>
					{{ userCreateform.lastname }}
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					{{ userCreateform.emailid.label }}	
				</td>
				<td>
					{{ userCreateform.emailid }}
				</td>
				<td>
					<div class="alert alert-info">
						{{ errorEmail }}
					</div>
				</td>
			</tr>
			<tr class="">
				<td>
					{{ userCreateform.type.label }}	
				</td>
				<td>
					{{ userCreateform.type }}
				</td>
				<td>
				</td>
			</tr>
			<tr class="">
				<td>
					{{ userCreateform.user_level.label }}	
				</td>
				<td>
					<div id="userLevel" class="sliders"></div>
				</td>
				<td>
					<input name="user_level" id="userLevelVal" class="sliderValue" type="text">
				</td>
			</tr>
			<tr class="">
				<td>
					{{ userCreateform.user_weight.label }}	
				</td>
				<td>
					<div id="userWeight" class="sliders"></div>
				</td>
				<td>
					<input name="user_weight" id="userWeightVal" class="sliderValue" type="text">
				</td>
			</tr>
			<tr>
				<td>
					
					<br>
					<input type="submit" value="Create" class="btn btn-medium btn-inverse">
				</td>
				<td>
				</td>
				<td>
				</td>
			</tr>
		</table>
		
		{% if userCreateform.errors|length > 0 %}
			<div class="alert alert-error"> 
				{% for key, value in userCreateform.errors.items %} 
					{{value}}
				{% endfor %}
			</div>
		{% endif %}
		
		<p>{{ successMsg }}</p>
	</form>
{% endblock %} 