{% extends "base.html" %}
{% block pagecontent %}    
	<script type="text/javascript">
	$(function() {
		$("body").css("background-color" , "#e3e8e4 !important");
	});
	</script>
		
	<script type="text/javascript">
		$(function(){
			$('.completeAppraisal').click(function(event){
				var data = {
						'search_txt' : 	$(event.currentTarget).parent().find('input').val()
				}
				AjaxEvent(data, '/userprofile/submitAppraisal/', function successSerach(data, textStatus, jqXHR)
				{
					$('#userAlerts').find('p').html(data);
					$('#userAlerts').removeClass('hide');
					$('#userAlerts').effect("slide", null, 500, null );
					setTimeout(function(){
						$('#userAlerts').effect("fold", null, 1200, callback );
						function callback(){
							$('#userAlerts').addClass('hide');	
						}
					}, 10000);
				});
			});
		});	
	</script>
	<div id="userAlerts" class="userAlerts hide"><p style="padding: 2px 2px 2px 2px;"></p></div>
	<div class="label headerGradient headerPosition" >{% csrf_token %}
		<p class=" headerFont" style="float: left; padding-top: 15px">Welcome {{username}}</p>
	</div>
	<br/>
	{% if error %}
		<div class="alert alert-error">{{error}}</div>
	{% endif%}
<div style="float: left; width: 60%;">	
	{%for objapp in appraismentList%}
		{% if objapp.appraisee == objapp.appraiser%}
			<div>
				<div style="float:left; background:#96544A; margin-top: 15px; width: 280px; height: 110px; border-radius: 8px 0px 0px 8px; border: 2px solid white;">
					<a class="" href="/userAppraisal/appraise/{{UserID}}" style="float:left; width: 100%">
					    <div style="padding:1px; text-align: center;">
					           <p style="color: white; font-size: 18px;">Appraise your self </p>
					    </div>
						<input type="hidden" value="{{UserID}}">
					</a>
					<div style="width: 100%; float: left; width: 100%;">
						<div style="float:right; color: white; padding-right: 10px;"><p style="">{{objapp.answeredcount}}/{{objapp.totalcount}}</p></div>
						<div style="font-size: 16px; float: left; margin-top: 2%;  padding-left: 10px; color: white; width: 60%;" class="" >
							Status : <p style="background-color: white; color: black; padding: 4px ; border-radius: 5px 5px 5px 5px;">{{objapp.statustext}}</p>
						</div>
					</div>
				</div>
				<div class="completeAppraisal" style="float: left; margin-top: 15px; width: 18px; height: 110px; border: 1px solid white; background:#96544A; border-radius: 0px 5px 5px 0px; margin-left: 1px;  box-shadow: 0 2px 1px white inset, 5px 5px 5px gray;">  
				   <table style="font-size: 12px; text-align: center; color: white; font-family: fantasy;">
					   <tr> <td style="padding-left: 4px; padding-top: 5px;"> S </td></tr>  
					   <tr> <td style="padding-left: 4px;"> u </td></tr>  
					   <tr> <td style="padding-left: 4px;"> b </td></tr>
					   <tr> <td style="padding-left: 4px;"> m </td></tr>
					   <tr> <td style="padding-left: 4px;"> i </td></tr>
					   <tr> <td style="padding-left: 4px;"> t  </td></tr>
				  </table>
				  </div>
			</div>
		{%endif%}
	{%endfor%}

	<div style="float:left;">
		<br/><br/>
		<legend>Appraisement List</legend>
		
		<table style="float:left;">
			<tr>
			
			{%for objapp in appraismentList%}
				{% ifnotequal objapp.appraisee objapp.appraiser%}
				{% cycle </tr><tr>,&nbsp; %}
					<td>
						<div>
							<div style="border-radius:10px;background: -moz-linear-gradient(to bottom, #f2f2f2, #dddaaa);float:left;margin:10px; 
								box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 20px 20px rgba(0, 0, 0, 0.2); width:300px;">
								<a href="/userAppraisal/appraise/{{objapp.appraisee}}" style=" text-decoration: none;">		
									<div style="background:-moz-linear-gradient(to bottom, {{objapp.color}}, #ffffff);float:left;height:100px;width: 10px;">&nbsp;</div>
									<div style="float:left;">
									    <div style="padding:10px;padding-left:20px;">
									           <legend>{{objapp.firstname}}&nbsp; {{objapp.lastname}} </legend>
									           <div style="text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);background:-moz-linear-gradient(to bottom, {{objapp.color}}, #ffffff);" class="btn">{{objapp.statustext}}</div>
									    </div>
									    <input type="hidden" value="{{objapp.appraisee}}">
									</div>
									{%ifnotequal objapp.status 'Initial'%}
										<div style="float:right;padding-right:10px;padding-top:40px;"><h4>{{objapp.answeredcount}}/{{objapp.totalcount}}</h4></div>
									{%endifnotequal%}
								</a>
								<input type="button" class="completeAppraisal btn" value="Submit">
							</div>
						</div>
					</td>
				{% endifnotequal%}
			{%endfor%}
			</tr>
		</table>
	</div>
</div>
	{{ successMsg }}
{% endblock %}
