{% extends "base.html" %}
{% block pagecontent %}    
	<script type="text/javascript">
	$(function() {
		$("body").css("background-color" , "#e3e8e4 !important");
	});
	</script>
		
	<script type="text/javascript">
		$(function(){
			$('.completeAppraisal').click(function(event){
				var data = {
						'search_txt' : 	$(event.currentTarget).parent().parent().find('input[type="hidden"]').val()
				}
				AjaxEvent(data, '/userprofile/submitAppraisal/', function successSerach(data, textStatus, jqXHR)
				{
					$('#userAlerts').find('p').html(data);
					$('#userAlerts').removeClass('hide');
					$('#userAlerts').effect("slide", null, 500, null );
					setTimeout(function(){
						$('#userAlerts').effect("fold", null, 1200, callback );
						function callback(){
							$('#userAlerts').addClass('hide');	
						}
					}, 10000);
				});
			});
		});	
	</script>
	
	<script type="text/javascript">
	$(function(){
		//$('.userWelcomeDiv').effect("slide", null, 1000, callback );
		//$('.userWelcomeReportsDiv').effect("bounce", null, 10000, null );
		//function callback(){
		$('#othersDiv .userWelcomeDivOthers').fadeIn(1200, function(){
			$('#othersDiv .userWelcomeDivOthers').removeClass('hide')
		});
		//}
		
		$('#othersDiv .userWelcomeDivOthers').hover(function(){
			
		});
	});
	
	</script>
	
	<div id="userAlerts" class="userAlerts hide"><p style="padding: 2px 2px 2px 2px;"></p></div>
	<div class="label headerGradientUserWelcome headerPosition" >{% csrf_token %}
		<p class="headerFont" style="float: left; padding-top: 15px;">Welcome {{username}}</p>
	</div>
	<br/>
	{% if error %}
		<div class="alert alert-error">{{error}}</div>
	{% endif%}
<div style="float: left; width: 70%;">	
	{%for objapp in appraismentList%}
		{% if objapp.appraisee == objapp.appraiser%}
			<div>
				<div class="userWelcomeDiv">
					<a class="" href="/userAppraisal/appraise/{{UserID}}" style="float:left; width: 100%;">
					    <div style="padding:1px; text-align: center;">
					           <p class="userWelcomeTitle">Appraise your self </p>
					    </div>
						<input type="hidden" value="{{UserID}}">
					</a>
					<div style="width: 100%; float: left; width: 100%;">
						<div style="float:right; color: white; padding-right: 10px; padding-top: 8px; font-size: 18px; font-weight: 600;"><p style="">{{objapp.answeredcount}}/{{objapp.totalcount}}</p></div>
						<div class="userWelcomeDivStatus" >
							<p style="color: white; padding: 4px ; border-radius: 5px 5px 5px 5px; {{ objapp.color }}">{{objapp.statustext}}</p>
						</div>
						<div class="completeAppraisal" style="width: 280px;padding-left: 10px;">
				  			<input type="button" class="btn btn-medium userWelcomeSubmitButton" value="Submit Appraisal" style=" height: 28px;">
				  		</div>
					</div>
				</div>
			</div>
		{%endif%}
	{%endfor%}
	<a id="userWelcomeReportsDiv" href="/reports/user/">
		<div class="userWelcomeReportsdiv">
			<p style="font-size: 20px; text-align: center; margin-top: 45px; color: white;"> Appraisal reports </p>
		</div>
	</a>
	<div id="othersDiv" style="float:left; width: 100%; padding-top: 25px;">
		<!-- <legend class="userWelcomeHeader"></legend> -->
		<p style=" margin: 0px; margin-top: 2px; margin-bottom: 6px; margin-left: 15px; font-size: 22px; " class="userWelcomeFont">Appraise your colleagues</p>
			{%for objapp in appraismentList%}
				{% ifnotequal objapp.appraisee objapp.appraiser%}
				<div class="userWelcomeDivOthers hide">
					<a class="" href="/userAppraisal/appraise/{{ objapp.appraisee }}" style="float:left; width: 100%;">
					    <div style="padding:1px; text-align: center;">
					           <p class="userWelcomeTitle">{{objapp.firstname}}&nbsp; {{objapp.lastname}}</p>
					    </div>
						<input type="hidden" value="{{ objapp.appraisee }}">
					</a>
					<div style="width: 100%; float: left; width: 100%;">
						<div style="float:right; color: white; padding-right: 10px; padding-top: 8px; font-size: 18px; font-weight: 600;"><p style="">{{objapp.answeredcount}}/{{objapp.totalcount}}</p></div>
						<div class="userWelcomeDivStatus" >
							<p style="color: white; padding: 4px ; border-radius: 5px 5px 5px 5px; {{ objapp.color }}">{{objapp.statustext}}</p>
						</div>
						<div class="completeAppraisal" style="width: 280px;  padding-left: 10px;">
				  			<input type="button" class="btn btn-medium userWelcomeSubmitButtonOthers" value="Submit Appraisal">
				  		</div>
					</div>
				</div>
				{% endifnotequal%}
			{%endfor%}
	</div>
</div>	
<div id="appraisalInstructions" class="userWelcomeappraisalInstructions">
		<div class="userWelcomeInstructionHeader">
			<div style="height: 3px;"></div>
			<p style="">Instructions </p>
		</div>
		<ul style="list-style: outside; margin-top: 10px; margin-right: 5px;">
			<li>sdbsdvsj dbngsk djbg ndkn fdk nfn fsn wbwb dbngsk djbg ndkn fdk nfn fsn wbwb</li>
			<li>sdbwbwb dbngsk djbg ndkn fdk nfn fsn wbwb asdvadb dbngsk djbg ndkn fdk nfn fsn wbwb </li>
			<li>sdbwbwb afssadb adbdb adbadb </li>
			<li>dbngsk djbg ndkn fdk nfn fsn wbwbdb ngsk djbg ndkn fdk nfn fsn wbwb</li>
		</ul>
</div>
	{{ successMsg }}
{% endblock %}
